.slideContent {
  position: relative;
  width: 100%;
  height: 630px;
}

.slideOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff00, #2b2a2acc);
}

.slideContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideInfo {
  position: absolute;
  bottom: 56px;
  left: 130px;
}

.slideTitle {
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: #ffffff;
}

.slideDescr {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}
